
.chatBox{
    width: 80%;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

.group:before,
.group:after{
    content: "";
    display: table;
}
.group:after{
    clear: both;
}
.group{
    zoom: 1; /* IE6&7 */
}

#connectedUsers{
    float:left;
    height: 595px;
    width: 20%;
    overflow-y: auto;
    background-color: #222d1d;
    color: #ffffff;
}

#connectedUsers ul{
    list-style: none;
    margin:0;
    padding: 5px;
}

#messageInputDiv{
    position:relative;
    margin-left: 21%;
    height: 30px;
    top: 568px;
}

#messageInputDiv input[type=text]{
    width:82.5%;
    height:20px;
    outline:none;
    font-size: 1.025em;
    margin:0;
}

#messageInputDiv input[type=button]{
    margin:0;
    height: 90%;
    width: 12.8%;
    border:none;
    outline: none;
}

#messageInputDiv input[type=button]:active{
    background-color: darkgrey;
}

#messageDisplay{
    position:relative;
    overflow-y: auto;
    top: -30px;
    margin-left: 21%;
    height: 550px;
    width: 75%;
    background-color: #222d1d;
    color: #ffffff;
    line-height:.5em;
    padding:5px;
}
