body {
    background-image: url(../res/background.png);
    background-repeat: repeat;
    color: white;
    font-family: "Georgia";
    min-width:750px;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}
#layer1 {
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
    width: auto;
    height:600px;
    z-index:1;
    padding:5px;
    background-image:url(../res/body.png);
    background-repeat: repeat;
}
#menu {
    zoom: 1;
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
    width: auto;
    padding: 8px;
    text-align: center;
    background-image:url(../res/body.png);
    background-repeat: repeat;
}
#menu:before {
    content: '';
    display: block;
}
#menu:after {
    content: '';
    display: table;
    clear: both;
}
#menu ul {
    list-style-type: none;
    position: relative;
    display: block;
    font-size: 22px;
    font-family: Courier New, sans-serif;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #41833a;
    zoom: 1;
}
#menu ul:before {
    content: '';
    display: block;
}
#menu ul:after {
    content: '';
    display: table;
    clear: both;
}
#menu li {
    display: inline-block;
    margin: 0;
    padding: 0;
}
#menu li a {
    color: #8e7f73;
    text-decoration: none;
    height: 24px;
    padding: 9px 15px 0;
    font-weight: normal;
}
#menu li:hover a {
    color: #fff;
    text-decoration: none;
    border-bottom: 3px solid #41833a;
}

.class{
    color: #41833a;
}

#gameCanvas{
    display: block;
    background-color:white;

    margin:0 auto;
    cursor: crosshair;
}

